<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>246432898810-4qq2jv41rrneh6jj7gec092b932v3o1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246432898810-4qq2jv41rrneh6jj7gec092b932v3o1j</string>
	<key>API_KEY</key>
	<string>AIzaSyDGXvpgNXd0NtvLRkKZmSOBRj-ul8xuiuc</string>
	<key>GCM_SENDER_ID</key>
	<string>246432898810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS2.simpleChating</string>
	<key>PROJECT_ID</key>
	<string>simplechating-e780b</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechating-e780b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246432898810:ios:ece62b169aae9c83</string>
	<key>DATABASE_URL</key>
	<string>https://simplechating-e780b.firebaseio.com</string>
</dict>
</plist>